.mainpanel {
    border-width: 2px;
    border-color: red;
    border-style: solid;
    background-color: white;
    padding: 1em;
    line-height: 1;
    margin: 4em;
    list-style: none;
}

.titlepanel {
  color: red;
  font-weight: bold;
  font-family:sans-serif;
}

.datepanel {
  font-weight: bold;
}

.spacing {
  margin-top: -1px;
  margin-bottom: 5px;
}
.space {
  margin-top: 20px;
  margin-bottom: 5px;
}
.bodypanel {
  margin: 20px;
  background-color: gray;
}
